<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="/static/style.css" rel="stylesheet">
    </head>
    <body>
        <form action="/all_cards" method="post">
            <table>
                <tr>
                    <td class="card">
                            <h2>Weapon</h2>
                            <img src="/static/lead_pipe.jpeg" alt="lead pipe" style="width:100%">
                            <h4>Lead Pipe</h4>
                    </td>
                    <td class="card">
                        <h2>Weapon</h2>
                        <img src="/static/rope.png" alt="rope" style="width:100%">
                        <h4>Rope</h4>
                    </td>
                    <td class="card">
                        <h2>Weapon</h2>
                        <img src="/static/trophy.png" alt="trophy" style="width:100%">
                        <h4>Trophy</h4>
                    </td>
                    <td class="card">
                        <h2>Weapon</h2>
                        <img src="/static/knife.jpeg" alt="knife" style="width:100%">
                        <h4>Knife</h4>
                    </td>
                </tr>
        </form>
    </body>
</html>

