<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="/static/style.css" rel="stylesheet">
    </head>
    <body>
        <form action="/all_cards" method="post">
            <div class="card">
                <ul>
                    <h2>Weapon</h2>
                    <img src="/static/rope.png" alt="rope" style="width:100%">
                    <div class="container">
                        <h4>Rope</h4>
                    </div>
                </ul>
            </div>
        </form>
    </body>
</html>

