<!DOCTYPE html>
<html>
    <head>
        <link href="/static/styles.css" rel="stylesheet">
    </head>
    <body>
        <form action="/gameboard2" method="post">
            <h1>
                <div class="header">
                    CS50 CLUE
                </div>
            </h1>
            <div class="container">
                <img src="/static/gsas.jpeg" alt="gsas" style="width:100%">
                <button class="room" name="room" value="Harvard Hall" type="submit" style="top: 0px; left: 0px">
                    <img src="/static/harvard_hall.jpeg" alt="harvard hall">
                </button>
                <button class="room" name="room" value="Mem Church" type="submit" style="top: 0px; left: 0px">
                    <img src="/static/mem_church.jpeg" alt="mem church">
                </button>
            </div>
            <h3 class="header">BACK TO MY CARDS <br>
                <button><a href="/mycards">MY CARDS</a></button>
            </h3>
        </form>
    </body>
</html>
