<!DOCTYPE html>
<html>
    <head>
        <link href="/static/styles.css" rel="stylesheet">
    </head>
    <body>
        <form action="/gameboard" method="post">
            <h1>
                <div class="header">
                    CS50 CLUE
                </div>
            </h1>

            <div class="gameboard">
            <div class="mass"></div>
            <div class="mass"></div>
            <div class="mass"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="cana"></div>
            <div class="cana"></div>
            <div class="cana"></div>
            <div class="cana"><button name="room" value="Canaday" type="submit">CANADAY</button></div>
            <div class="cana"></div>
            <div class="cana"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>


            <div class="mass"></div>
            <div class="mass"><button name="room" value="Mass Hall" type="submit">MASSACHUSETTS HALL</button></div>
            <div class="mass"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="cana"></div>
            <div class="cana"></div>
            <div class="cana"></div>
            <div class="cana"></div>
            <div class="cana"></div>
            <div class="cana"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>


            <div class="mass"></div>
            <div class="mass"></div>
            <div class="mass"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>


            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="pool"></div>
            <div class="pool"></div>
            <div class="pool"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="mem"></div>
            <div class="mem"></div>
            <div class="mem"></div>

            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="pool"></div>
            <div class="pool"><button name="room" value="Harvard Hall" type="submit">HARVARD HALL</button></div>
            <div class="pool"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="mem"></div>
            <div class="mem"><button name="room" value="Mem Church" type="submit">MEMORIAL CHURCH</button></div>
            <div class="mem"></div>


            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="pool"></div>
            <div class="pool"></div>
            <div class="pool"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="mem"></div>
            <div class="mem"></div>
            <div class="mem"></div>


            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>


            <div class="gsas"></div>
            <div class="gsas"></div>
            <div class="gsas"></div>
            <div class="gsas"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="wide"></div>
            <div class="wide"></div>
            <div class="wide"></div>
            <div class="wide"></div>
            <div class="wide"></div>
            <div class="square"></div>

            <div class="gsas"></div>
            <div class="gsas"><button name="room" value="GSAS" type="submit">GSAS</button></div>
            <div class="gsas"></div>
            <div class="gsas"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="wide"></div>
            <div class="wide"></div>
            <div class="wide"><button name="room" value="Widener" type="submit">WIDENER</button></div>
            <div class="wide"></div>
            <div class="wide"></div>
            <div class="square"></div>


            <div class="gsas"></div>
            <div class="gsas"></div>
            <div class="gsas"></div>
            <div class="gsas"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="square"></div>
            <div class="wide"></div>
            <div class="wide"></div>
            <div class="wide"></div>
            <div class="wide"></div>
            <div class="wide"></div>
            <div class="square"></div>
            </div>

            <h3 class="header">BACK TO MY CARDS <br>
                <button><a href="/mycards">MY CARDS</a></button>
            </h3>
            <div style="position:relative">
                <img src="/static/gsas.jpeg" alt="gsas">
                <img src="/static/trophy.png" alt="trophy" style="position: absolute">
            </div>
        </form>
    </body>
</html>



