<!DOCTYPE html>
<html>
    <head>
        <link href="/static/styles.css" rel="stylesheet">
        <title>Game board</title>
    </head>
    <body>
        <form action="/gameboard2" method="post">
            <h1>
                <div class="header">
                    CS50 CLUE
                </div>
            </h1>
            <div class="container">
                <img class="img" src="/static/better_grid.png" alt="background">
                <button class="room" name="room" value="Massachusetts Hall" type="submit" style="width:20%; height:30%; top:150px; left: 150px">
                    <img src="/static/mass_hall.jpeg" alt="mass hall">
                </button>
                <button class="room" name="room" value="Harvard Hall" type="submit" style="width:20%; height:30%; top:300px; left: 600px">
                    <img class="pool" src="/static/harvard_hall.jpeg" alt="harvard hall">
                </button>
                <button class="room" name="room" value="Mem Church" type="submit" style="width:15%; height:40%; top:0px; right: 150px">
                    <img src="/static/mem_church.jpeg" alt="mem church">
                </button>
                <button class="room" name="room" value="Canaday" type="submit" style="width:25%; height:30%; top:0px; right: 525px">
                    <img src="/static/canaday.jpeg" alt="canaday">
                </button>
                <button class="room" name="room" value="GSAS" type="submit" style="width:25%; height:30%; bottom:0px; left: 150px">
                    <img src="/static/gsas.jpeg" alt="gsas">
                </button>
                <button class="room" name="room" value="Widener" type="submit" style="width:25%; height:30%; bottom:0px; right: 150px">
                    <img src="/static/widener.jpeg" alt="widener">
                </button>
            </div>
        </form>
    </body>
</html>
