<!DOCTYPE html>

<html lang="en" class="margin">
    <head>
        <title>Game Over</title>
        <link href="/static/styles.css" rel="stylesheet">
    </head>
    <body>
        <form action="/gameover" method="post">
            <div class="center">
                <h1 class="header">{{ text }}</h1>
                <p>It was {{ winning_cards['Person'] }} with the {{ winning_cards['Weapon'] }} in {{ winning_cards['Place'] }}</p>
                <button type="submit">New Game</button>
            </div>
        </form>
    </body>
</html>
