<!DOCTYPE html>
<html>
<head>
</head>
<body>
<form action="/game_board" method="post">
<h1>
    <div class="header">
        CS50 CLUE
    </div>
</h1>

<div class="gameboard">
  <div class="mass"></div>
  <div class="mass"></div>
  <div class="mass"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="cana"></div>
  <div class="cana"></div>
  <div class="cana"></div>
  <div class="cana"><button><a href="mycards.html">CANADAY</a></button></div>
  <div class="cana"></div>
  <div class="cana"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>


  <div class="mass"></div>
  <div class="mass"><button><a href="mycards.html">MASSACHUSETTS HALL</a></button></div>
  <div class="mass"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="cana"></div>
  <div class="cana"></div>
  <div class="cana"></div>
  <div class="cana"></div>
  <div class="cana"></div>
  <div class="cana"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>


  <div class="mass"></div>
  <div class="mass"></div>
  <div class="mass"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>


  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="pool"></div>
  <div class="pool"></div>
  <div class="pool"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="mem"></div>
  <div class="mem"></div>
  <div class="mem"></div>

  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="pool"></div>
  <div class="pool"><button><a href="harvard.html">HARVARD HALL</a></button></div>
  <div class="pool"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="mem"></div>
  <div class="mem"><button><a href="mycards.html">MEMORIAL CHURCH</a></button></div>
  <div class="mem"></div>


  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="pool"></div>
  <div class="pool"></div>
  <div class="pool"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="mem"></div>
  <div class="mem"></div>
  <div class="mem"></div>


  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>


  <div class="gsas"></div>
  <div class="gsas"></div>
  <div class="gsas"></div>
  <div class="gsas"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="wide"></div>
  <div class="wide"></div>
  <div class="wide"></div>
  <div class="wide"></div>
  <div class="wide"></div>
  <div class="square"></div>

  <div class="gsas"></div>
  <div class="gsas"><button><a href="mycards.html">GSAS</a></button></div>
  <div class="gsas"></div>
  <div class="gsas"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="wide"></div>
  <div class="wide"></div>
  <div class="wide"><button><a href="mycards.html">WIDENER</a></button></div>
  <div class="wide"></div>
  <div class="wide"></div>
  <div class="square"></div>


  <div class="gsas"></div>
  <div class="gsas"></div>
  <div class="gsas"></div>
  <div class="gsas"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="square"></div>
  <div class="wide"></div>
  <div class="wide"></div>
  <div class="wide"></div>
  <div class="wide"></div>
  <div class="wide"></div>
  <div class="square"></div>
</div>

<h3 class="header">BACK TO MY CARDS <br>
    <button><a href="mycards.html">MY CARDS</a></button>
</h3>
</form>
</body>
</html>



