<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link href="/static/styles.css" rel="stylesheet">
    </head>
    <body>
        <form action="/guess" method="post">
            <p class="header" name="place" value="{{ get_flashed_messages() }}">{{ get_flashed_messages() | join(" ")}}</p>
            <select class="text" id="weapon" name="weapon">
                <option disabled selected>Select a weapon</option>
                {% for weapon in weapons %}
                    <option value="{{ weapon['id'] }}">{{ weapon['name'] }}</option>
                {% endfor %}
            </select>
            <select class="text" id="person" name="person">
                <option disabled selected>Select a suspect</option>
                {% for person in people %}
                    <option value="{{ person['id'] }}">{{ person['name'] }}</option>
                {% endfor %}
            </select>
            <button name="submit" type="submit">Submit</button>
        </form>
    </body>
</html>

