<!DOCTYPE html>

<html lang="en" class="margin">
    <head>
        <title>Final Guess</title>
        <link href="/static/styles.css" rel="stylesheet">
    </head>
    <body>
        <form action="/finalguess" method="post">
            <div class="center">
                <h1 class="header">Final Guess</h1>
                It was
                <select class="body" id="person" name="Person">
                    <option disabled selected>Person</option>
                    {% for person in people %}
                        <option value="{{ person['name'] }}">{{ person['name'] }}</option>
                    {% endfor %}
                </select>
                with the
                <select class="body" id="weapon" name="Weapon">
                    <option disabled selected>Weapon</option>
                    {% for weapon in weapons %}
                        <option value="{{ weapon['name'] }}">{{ weapon['name'] }}</option>
                    {% endfor %}
                </select>
                in
                <select class="body" id="place" name="Place">
                    <option disabled selected>Place</option>
                    {% for place in places %}
                        <option value="{{ place['name'] }}">{{ place['name'] }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Submit</button>
            </div>
        </form>
    </body>
</html>
