<!DOCTYPE html>

<html lang="en" class="margin">
    <head>
        <title>My Cards</title>
    </head>
    <body class="body">
        <form action="/my_cards" method="post">
        <div class="text">
            Now that you know your own cards, click below to see all of the available options or go to the gameboard.
        </div>
        <h1 class="header1">The Card Options</h1>
        <button><a href="weapons.html">Weapons</a></button>
        <button><a href="people.html">People</a></button>
        <button><a href="places.html">Places</a></button>
        <h1 class="header1">The Game Board</h1>
        <button><a href="gameboard.html">Game Board</a></button>
    </body>
</html>
