<!DOCTYPE html>

<html lang="en" class="margin">
    <!-- this should not be a separate html page; we should use a modal window instead.
    Then we could open this up on any page and close it, like a pop up.-->
    <head>
        <title>My Cards</title>
        <link href="/static/styles.css" rel="stylesheet">
    </head>
    <body class="body">
        <form action="/mycards" method="post">
            <div class="text">
                Now that you know your own cards, click below to see all of the available options or go to the gameboard.
            </div>
            <h1 class="header1">The Card Options</h1>
            <button><a href="/allcards">All Cards</a></button>
            <button type="button" onclick="document.getElementById('allCards').style.display ='block'">View all cards</button>
            <h1 class="header1">The Game Board</h1>
            <button><a href="/gameboard2">Game Board</a></button>
        </form>
    </body>
</html>
