<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title> Reveal Cards </title>
    <link href="/static/styles.css" rel="stylesheet">
    </head>
    <body>
        <form action="/revealcards" method="post">
            <div class="center">
                <div class="body">
                    The previous player thinks it was {{ guess_cards["Person"] }} with the {{ guess_cards["Weapon"] }} in {{ guess_cards["Place"] }}.
                </div>
                <div class="body">
                    Select one card from your hand to reveal to your opponent, or select "no cards to reveal" if you do not have any of the options in your hand.
                </div>
                <select class="body" id="reveal" name="reveal">
                    <option disabled selected>Select a card to reveal</option>
                    {% for card in player_cards %}
                        <option value="{{ card['id'] }}">{{ card['name'] }}</option>
                    {% endfor %}
                </select>
                <button type="submit">Submit</button>
            </div>
        </form>
    </body>
</html>

