<!DOCTYPE html>
<html>
    <head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link href="/static/styles.css" rel="stylesheet">
    </head>
    <body>
        <form action="/revealcards" method="post">
            <select class="text" id="person" name="person">
                <option disabled selected>Select a card to reveal</option>
                {% for card in player_cards %}
                    <option value="{{ card['id'] }}">{{ card['name'] }}</option>
                {% endfor %}
            <button name="submit" type="submit">Submit</button>
        </form>
    </body>
</html>

